body {
}

section {
	line-height: 1.3;
}

.badge {
	padding: 2px 5px;
	border-radius: 3px;
	color: white;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.red {
	background: red;
}

.yellow {
	background: #fbd070;
	color: #8e6c14;
}

.green {
	background: #69c33b;
}

.blue {
	background: #41a5e1;
}
